header {
    padding: 10px;
    color: white;
    background-color: #3f51b5;
    display: flex;
    justify-content: space-between;
}

header > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: -0.0555556px;
    margin: 5px;
}

#sect {
    padding: 10px;
    background-color: #3c4a97;
    border-radius: 5px;
}

#free {
    /*padding: 5px;*/
    padding: 5px;
    margin: 5px;
    background-color: #4ba69a;
    border-radius: 2px;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

#right > img {
    padding: 0 10px 0 10px;
}
